@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #22c55e;
  --color-accent: #f97316;
}

body {
  font-family: 'Inter', sans-serif;
}
